header {
    display: flex;
    flex-direction: column;
}

.nav-wrap ul {
    display: flex;
    justify-content: space-evenly;
}

.head-wrap {
    display: flex;
    flex-direction: column;
}

.head-wrap h1 {
    margin: 0;
    text-align: center;
    margin: 0;
}

.head-wrap h3 {
    margin: 0;
    text-align: center;
    padding: 0;
}