#second {
    background-color:#111010 ;
    
}

.foot-wrap {
    display: flex;
    

    .contact-wrap {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-top: 60px;

        .social-container {
            display: flex;
            flex-direction: row;
            ul {
                display: flex;
                padding: 0;
                margin-bottom: 0;
                :hover {
                    cursor: pointer;
                }
            }
        }

        .contact-email {
            display: flex;
            p {
                margin-top: 0;
            }
        }

        .address-box {
            display: flex;
            flex-direction: column;
            p {
                padding: 0 20px 0 0;
                margin: 0;
                width: 14rem;
            }
        }
    }

    .form-container {
        display: flex;
        width: 70%;
        color: #220303;
        position: relative;
        bottom: 140px;
        right: 75px;
        box-shadow: 20px 20px #FF8327;
        
        .form-wrapper {
            display: flex;
            width: 100%;
            .info-container {
                display: flex;
                width: 100%;
                button, input {
                    width: 100%;
                    border-top-style: hidden;
                    border-right-style: hidden;
                    border-left-style: hidden;
                }
                .email {
                    width: 50%;
                    margin-bottom: 35px;
                    input {
                        padding: 10px;
                        background-color: transparent;
                        color: #FFFFFF;
                    }
                }
                .names {
                    width: 50%;
                    margin-bottom: 35px;
                    margin-right: 20px;
                    
                    
                    input {
                        padding: 10px;
                        background-color: transparent;
                        color: #FFFFFF;
                    }
                }
            }
            form {
                background-color: #220303;
                color: black;
                padding: 50px;
                width: 100%;
            }
            
            .message-wrap {
                .message-container {
                    textarea {
                        width: 100%;
                        padding: 10px 10px;
                        margin-bottom: 35px;
                        background-color: transparent;
                        color: #FFFFFF;
                    }
                }
                .submit-button {
                    width: 100%;
                    padding: 5px;
                    background-color: #BF2603;
                    color: #FFFFFF;
                    border-style: none;
                }

            }
            
        }
        
    }
    
}

.copyright-container {
    text-align: center;
    color: #FFFFFF;
    background-color: rgb(64, 64, 64);
    padding: 0;
    margin: 0;
    p {
        padding: 13px 0;
        margin: 0;
        font-family: 'Chathura',
            sans-serif;
        font-size: 1.95rem;
    }
}