#first {
    background-image: url(../../../assets/contact-header-1.jpg);
}

.dropdown {
    display: none;
}

.nav-wrap {
    padding: 20px 0 0 0;
    line-height: 1.5rem;
    height: 20%;
    ul { 
        display: flex;
        justify-content: center;
        li a {
            color: white;
            padding: 0 1.1rem;
        }
        h3 {
            margin: 0;
        }
    }
    a:hover {
        color: #ff8327;
    }
}

.title-container {
    display: flex;
    h4 {
        display: flex;
        align-items: center;
        margin: 170px 0;
    }
}

