html {
    font-size: 100%;
    line-height: 120%;
}

.nav-wrap {
    ul {
    font-family: 'Chathura',
    sans-serif;
    }
    li {
        padding: 0 20px;
        font-size: 2.3rem;
        color: white;
        h3 {
            font-family: 'Tulpen One',
            cursive;
        }
    }

}

.title-container h4 {
    font-family: 'Chathura',
    sans-serif;
    font-size: 5.5rem;
    color: white;
}

.contact-wrap {
    font-family: 'Chathura',
    sans-serif;
    color: white;
    font-size: 1.5rem;
    line-height: 25px;
    .contact-email {
        font-size: 2rem;
    }
    .address-box {
        font-size: 2rem;
    }
}

.form-container {
    font-family: 'Chathura',
    sans-serif;
    input {
    font-family: 'Chathura',
    sans-serif;
    font-size: 150%;
    }
}

.message-container {
    .text-area {
    font-family: 'Chathura',
        sans-serif;
    font-size: 150%;
    }
}

.message-wrap {
    button {
        .submit-button {
            font-size: 1.4rem;
            font-family: 'Chathura',
            sans-serif;
        }
    }
}