html {
    font-size: 100%;
    line-height: 150%;
}

.nav-wrap {
    ul {
        font-family: 'Chathura',
            sans-serif;
    }

    li {
        padding: 0 20px;
        font-size: 2.3rem;
        color: #FFFFFF;

        h3 {
            font-family: 'Tulpen One',
                cursive;
        }
    }

}

header {
    h2 {
        font-family: 'Chathura',
        sans-serif;
        font-size: 5.5rem;
        
    }
}

main {
    font-family: 'Chathura',
    sans-serif;
    .left-container {
        font-size: 1.95rem;
    } 
    .right-container {
        font-size: 1.95rem;
        .form-container {
            .message-wrap {
                .message-container {
                    .text-area {
                        font-family: 'Chathura',
                        sans-serif;
                    
                    }
                }
                .button {
                    .submit-button {
                        font-family: 'Tulpen One';
                    }
                }
            }
        }
    }
}

footer {
    .copyright-container {
        font-family: 'Chathura',
        sans-serif;
        font-size: 1.95rem;
    }
}