#first {
    background-image: url(../../../assets/blog-header-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mini-title {
    display: none;
}

.nav-wrap {
    padding: 20px 0 0 0;
    line-height: 1.5rem;
    height: 20%;

    ul {
        display: flex;
        justify-content: center;

        li a {
            color: #FFFFFF;
            padding: 0 1.1rem;
        }

        h3 {
            margin: 0;
        }
    }

    a:hover {
        color: #ff8327;
    }
}

.title-container-2 {
    display: flex;

    h2 {
        display: flex;
        align-items: center;
        margin: 170px 0;
        color: #FFFFFF;
        
    }
}