.wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    border: none;
}