#second {
    background-color:black ;
    color: white;
}

.container-wrap {
    display: flex;

// LEFT CONTAINER 

    .left-container {
        width: 35%;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        position: relative;
        .left-image-container {
            display: flex;
            position: absolute;
            top: 25px;
            width: 350px;
            
        }
        .text-box {
            display: flex;
            flex-direction: column;
            padding: 310px 30px 20px 30px;
            margin: 50px 75px;
            background-color: #310906;
            
            .our-mission {
                h2 {
                    margin-bottom: 0;
                }
                p {
                    margin: 10px 0 0 0;
                    
                }
                a {
                    margin-top: 0;
                    color: orangered;
                }

            }
            .recent-posts {
                h2 {
                    margin-bottom: 0;
                }
                ul {
                    margin-top: 10px;
                    list-style: none;
                    li::before {
                        content: "•";
                        color: red;
                        display: inline-block;
                        width: 1rem;
                        margin-left: -1em;
                    }
                }
            }
        }
    }

// RIGHT CONTAINER

    .right-container {
        width: 65%;
        display: flex;
        flex-direction: column;
        position: relative;
        top: -100px;
        .top-image-container {
            width: calc(100% - 20px);
            box-shadow: -20px 20px orangered;
            position: relative;
            left: 20px;
            
        }
        .blog-text-container {
            display: flex;
            flex-direction: column;
            padding: 60px 100px;
            border-left: 5px solid orangered;
            border-bottom: 5px solid orangered;
            h2 {
                margin-bottom: 0;
            }
            .date {
                color: orangered;
                margin: 0;
                padding-top: 10px;
                
            }
            p {
                padding: 15px 0;
                margin: 0;
            }

        }

// COMMENTS 

        .comments-container {
            display: flex;
            flex-direction: column;
            padding: 40px 60px;
        }
        .first-comment, .second-comment {
            display: flex;
            
            .pf-pic-container {
                width: 30%;
                display: flex;
                align-items: flex-start;
                margin-right: 35px;
            }
            .comment-1, .comment-2 {
                display: flex;
                flex-direction: column;
                h4 {
                    margin: 0 0 10px 0;
                    color: orangered;
                }
                p {
                    margin-top: 0;
                }
            }
        }

// FORM CONTAINER

        .form-container {
            display: flex;
            .form-wrap {
                display: flex;
                width: 90%;
                margin-left: 60px;
                form {
                    display: flex;
                    flex-direction: column;
                    
                    .info-container {
                        display: flex;
                        justify-content: space-between;
                        width: 90%;
                        .names {
                            width: 50%;
                            margin-bottom: 35px;
                            margin-right: 25px;
                            label {
                                padding: 0 30px;
                            }
                            input {
                                background-color: transparent;
                                color: white;
                                border-bottom: 1px solid orangered;
                                width: 100%;
                                
                            }
                        }
                        .email {
                            width: 50%;
                            margin-bottom: 35px;
                            
                            label {
                                padding: 0 0 0 30px;
                            }
                        
                            input {
                                background-color: transparent;
                                color: white;
                                border-bottom: 1px solid orangered;
                            }
                        }
                        
                    }
                    .message-wrap {
                        display: flex;
                        flex-direction: column;
                        width: 90%;
                        .message-container {
                            display: flex;
                            

                            .text-area {
                                width: 100%;
                                height: 180px;
                                padding: 20px;
                                background-color: transparent;
                                color: white;
                                border: 1px solid orangered;
                                margin-bottom: 35px;
                            }

                        }
                        .button {
                            display: flex;
                            justify-content: center;
                            .submit-button {
                                background-color: red;
                                color: white;
                                border: none;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}