@media (width: 810px) {
    .container-wrap {
        .left-container {
            width: 40%;
            margin-top: 45px;
            .text-box {
                padding: 190px 20px 20px 20px;
                margin: 50px 45px;
                ul {
                    margin-bottom: 0;
                    padding-left: 20px;
                }
            }
            .left-image-container {
                width: 250px;
            }
        }
        .right-container {
            width: 60%;
            .comments-container {
                .pf-pic-container {
                    width: 100%;
                }
            }
            .form-container {
                .form-wrap {
                    form {
                        .info-container {
                            .email {
                                input {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 390px){
    .mobile-nav {
        display: flex;
        justify-content: space-between;
    
        .dropdown {
            display: flex;
            flex-direction: column;
    
            .drop-nav div {
                height: 7px;
                background-color: #FFFFFF;
                margin: 0 0 5px 5px;
                border-radius: 25px;
                transition: 0.3s;
            }
    
            .drop-nav {
                width: 30px;
                display: block;
                margin: 0 0 0 .5em;
                padding-top: 10px;
    
                a {
                    margin-top: 0;
                }
            }
    
            .one {
                width: 50px;
                margin-top: 0;
            }
    
            .two {
                width: 40px;
            }
    
            .three {
                width: 50px;
            }
    
            .four {
                width: 40px;
            }
    
            .drop-nav:hover div {
                width: 30px;
            }
        }
    
        .mini-title {
            color: #FFFFFF;
            padding: 0 20px;
            font-family: 'Tulpen One';
            font-size: 2rem;
            margin-top: 10px;
    
            h3 {
                margin: 5px 0 20px 0;
            }
        }
    }

    .nav-wrap {
        display: none;
    }
    .title-container-2 {
        
        .wrapper {
            h2 {
                justify-content: center;
            }
        }
    }

    #second {
        .container-wrap {
            display: flex;
            flex-direction: column;
            .left-container {
                order: 1;
                width: 100%;
                margin-top: 20px;
                .text-box {
                    padding: 240px 10px 20px 10px;
                    margin: 0 20px;
                    .our-mission,
                    .recent-posts {
                        text-align: center;
                    }
                }
                .left-image-container {
                    align-self: center;
                    width: 220px;
                    position: relative;
                    top: -565px;
                }
            }
            .right-container {
                order: 2;
                width: 100%;
                .top-image-container {
                    box-shadow: none;
                    position: relative;
                    left: 0;
                    bottom: 50px;
                    width: 100%;

                }
                .blog-text-container {
                    border: 5px solid #FF8327;
                    padding: 40px 40px;
                    text-align: center;
                }
                .comments-container {
                    padding: 40px 40px;
                    text-align: center;
                    .first-comment,
                    .second-comment {
                        display: flex;
                        flex-direction: column;
                        
                        .pf-pic-container {
                            align-self: center;
                            width: 40%;
                            padding: 15px 0;
                            margin-right: 0;
                        }
                    }
                }
                .form-container {
                    width: 100%;
                    .form-wrap {
                        display: flex;
                        width: 100%;
                        margin: 0;
                        form {
                            width: 100%;
                            align-items: center;
                            .info-container {
                                display: flex;
                                flex-direction: column;
                                .names {
                                    width: 100%;
                                    label {
                                        padding: 0 20px;
                                    }
                                }
                                .email {
                                    width: 100%;
                                    label {
                                        padding: 0 20px;
                                        
                                    }
                                    input {
                                        width: 100%;
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}