html {
  margin: 0;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper-2 {
  width: 90%;
  max-width: 1200px;
  margin: 0 0 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  display: block;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 100%;
}

.nav-wrap ul {
  font-family: "Chathura", sans-serif;
}
.nav-wrap li {
  padding: 0 20px;
  font-size: 2.3rem;
  color: white;
}
.nav-wrap li h3 {
  font-family: "Tulpen One", cursive;
}

.title-container h4 {
  font-family: "Chathura", sans-serif;
  font-size: 5.5rem;
  color: white;
}

.contact-wrap {
  font-family: "Chathura", sans-serif;
  color: white;
  font-size: 1.5rem;
  line-height: 25px;
}
.contact-wrap .contact-email {
  font-size: 2rem;
}
.contact-wrap .address-box {
  font-size: 2rem;
}

.form-container {
  font-family: "Chathura", sans-serif;
}
.form-container input {
  font-family: "Chathura", sans-serif;
  font-size: 150%;
}

.message-container .text-area {
  font-family: "Chathura", sans-serif;
  font-size: 150%;
}

.message-wrap button .submit-button {
  font-size: 1.4rem;
  font-family: "Chathura", sans-serif;
}

#first {
  background-image: url(../../../assets/contact-header-1.jpg);
}

.dropdown {
  display: none;
}

.nav-wrap {
  padding: 20px 0 0 0;
  line-height: 1.5rem;
  height: 20%;
}
.nav-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-wrap ul li a {
  color: white;
  padding: 0 1.1rem;
}
.nav-wrap ul h3 {
  margin: 0;
}
.nav-wrap a:hover {
  color: #ff8327;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.title-container h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 170px 0;
}

#second {
  background-color: #111010;
}

.foot-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.foot-wrap .contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-top: 60px;
}
.foot-wrap .contact-wrap .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.foot-wrap .contact-wrap .social-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-bottom: 0;
}
.foot-wrap .contact-wrap .social-container ul :hover {
  cursor: pointer;
}
.foot-wrap .contact-wrap .contact-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.foot-wrap .contact-wrap .contact-email p {
  margin-top: 0;
}
.foot-wrap .contact-wrap .address-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.foot-wrap .contact-wrap .address-box p {
  padding: 0 20px 0 0;
  margin: 0;
  width: 14rem;
}
.foot-wrap .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  color: #220303;
  position: relative;
  bottom: 140px;
  right: 75px;
  -webkit-box-shadow: 20px 20px #FF8327;
          box-shadow: 20px 20px #FF8327;
}
.foot-wrap .form-container .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.foot-wrap .form-container .form-wrapper .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.foot-wrap .form-container .form-wrapper .info-container button, .foot-wrap .form-container .form-wrapper .info-container input {
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}
.foot-wrap .form-container .form-wrapper .info-container .email {
  width: 50%;
  margin-bottom: 35px;
}
.foot-wrap .form-container .form-wrapper .info-container .email input {
  padding: 10px;
  background-color: transparent;
  color: white;
}
.foot-wrap .form-container .form-wrapper .info-container .names {
  width: 50%;
  margin-bottom: 35px;
  margin-right: 20px;
}
.foot-wrap .form-container .form-wrapper .info-container .names input {
  padding: 10px;
  background-color: transparent;
  color: white;
}
.foot-wrap .form-container .form-wrapper form {
  background-color: #310906;
  color: black;
  padding: 50px;
  width: 100%;
}
.foot-wrap .form-container .form-wrapper .message-wrap .message-container textarea {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 35px;
  background-color: transparent;
  color: white;
}
.foot-wrap .form-container .form-wrapper .message-wrap .submit-button {
  width: 100%;
  padding: 5px;
  background-color: #BF2603;
  color: #FFFFFF;
  border-style: none;
  font-family: "Tulpen One", cursive;
  font-size: 1.4rem;
}

.copyright-container {
  text-align: center;
  color: #FFFFFF;
  background-color: rgb(64, 64, 64);
  padding: 0;
  margin: 0;
}
.copyright-container p {
  padding: 13px;
  margin: 0;
  font-family: "Chathura", sans-serif;
  font-size: 1.95rem;
}

@media (max-width: 810px) {
  header .dropdown {
    display: none;
  }
  footer .foot-wrap .contact-wrap .address-box p {
    width: 9rem;
  }
  footer .form-container {
    left: -3rem;
  }
}
@media (max-width: 390px) {
  header .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .mobile-nav .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .mobile-nav .dropdown .drop-nav div {
    height: 7px;
    background-color: white;
    margin: 0 0 5px 5px;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .mobile-nav .dropdown .drop-nav {
    width: 30px;
    display: block;
    margin: 0 0 0 0.5em;
    padding-top: 10px;
  }
  header .mobile-nav .dropdown .drop-nav a {
    margin-top: 0;
  }
  header .mobile-nav .dropdown .one {
    width: 50px;
    margin-top: 0;
  }
  header .mobile-nav .dropdown .two {
    width: 40px;
  }
  header .mobile-nav .dropdown .three {
    width: 50px;
  }
  header .mobile-nav .dropdown .four {
    width: 40px;
  }
  header .mobile-nav .dropdown .drop-nav:hover div {
    width: 30px;
  }
  header .mobile-nav .mini-title {
    color: white;
    padding: 0 20px;
    font-family: "Tulpen One";
    font-size: 2rem;
  }
  header .mobile-nav .mini-title h3 {
    margin: 5px 0 20px 0;
  }
  header .nav-wrap {
    display: none;
  }
  header .wrapper .title-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .wrapper .title-container h4 {
    margin: 120px 0 170px 0;
  }
  footer .wrapper-2 {
    margin: 0 auto;
  }
  footer .wrapper-2 .foot-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .wrapper-2 .foot-wrap .contact-wrap {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin: 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .wrapper-2 .foot-wrap .contact-wrap .contact-email p {
    margin: 0;
  }
  footer .wrapper-2 .foot-wrap .contact-wrap .address-box {
    width: 18rem;
    margin-bottom: 20px;
    text-align: center;
  }
  footer .wrapper-2 .foot-wrap .contact-wrap .address-box p {
    width: 18rem;
  }
  footer .wrapper-2 .foot-wrap .form-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 20px;
  }
  footer .wrapper-2 .foot-wrap .form-container .form-wrapper form {
    width: 100%;
    padding: 30px 50px;
  }
  footer .wrapper-2 .foot-wrap .form-container .form-wrapper form .message-wrap .message-container .text-area {
    height: 150px;
  }
}