html {
  font-size: 100%;
  line-height: 120%;
}

.nav-wrap h3,
.head-wrap h1,
a {
  font-family: "Tulpen One", cursive;
}

p,
h1,
h2,
h3,
h4,
.nav-wrap l1 {
  font-family: "Chathura", sans-serif;
  margin: 0;
}

.text-container-1,
.text-container-2,
.text-container-3,
.text-container-4,
.text-container-5 {
  font-weight: bold;
  font-size: 2.43rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  color: #FFFFFF;
  z-index: 100;
}

.text-container-1 h3,
.text-container-2 h3,
.text-container-3 h3,
.text-container-4 h3,
.text-container-5 h3 {
  font-size: 3.4rem;
  letter-spacing: 2.6px;
}

.text-container-1 a,
.text-container-2 a,
.text-container-3 a,
.text-container-4 a,
.text-container-5 a {
  font-size: 1rem;
}

.head-wrap h1 {
  font-size: 14.33rem;
  letter-spacing: 2.4px;
}

.head-wrap h3 {
  font-size: 4.2rem;
  font-weight: bold;
  letter-spacing: 2.6px;
}

p {
  font-size: 1.95rem;
  line-height: 1.5rem;
}

.nav-wrap a {
  font-size: 2rem;
  line-height: 29px;
  letter-spacing: 1.9px;
  font-family: "Chathura", sans-serif;
}

.nav-wrap h3 {
  font-size: 3rem;
  font-weight: lighter;
}

.copyright-container p {
  font-family: "Chathura", sans-serif;
  font-size: 1.95rem;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  margin: 0;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.text-container-1 a,
.text-container-2 a,
.text-container-3 a,
.text-container-4 a,
.text-container-5 a {
  font-size: 1rem;
  border: 4px solid none;
  color: #FFFFFF;
  background-color: #BF2603;
}

img {
  width: 100%;
  display: block;
}

#first {
  background-image: url(../../../assets/blog-header-1.jpg);
  background-size: cover;
}

.mini-title {
  display: none;
}

.head-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-wrap {
  height: 20%;
  line-height: 1.5rem;
  padding: 20px 0 0 0;
}

.nav-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-wrap li,
.nav-wrap a {
  color: #FFFFFF;
  padding: 0 1.1rem;
}

.nav-wrap h3 {
  margin: 0;
}

.nav-wrap a:hover {
  color: #FF8327;
}

.head-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
}

.head-wrap h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FF8327;
  margin: 0;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 20% 0 0 0;
}

.head-wrap h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  width: 50%;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  right: 95px;
  bottom: 75px;
}

.head-flex .side-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.head-flex .side-image img {
  width: 50%;
  position: absolute;
  top: 285px;
  right: 0px;
}

#second {
  background-color: #111010;
  padding: 105px 0px;
}

.text-box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
}
.text-box-1 p {
  padding: 0 10px 0 50px;
}
.text-box-1 h3 {
  padding: 0 0 5px 0;
}

.new-space::before {
  content: url(../../../assets/home.png);
  display: inline-block;
}

.community::before {
  content: url(../../../assets/social.png);
  display: inline-block;
}

.blog::before {
  content: url(../../../assets/document.png);
  display: inline-block;
}

.get-in-touch::before {
  content: url(../../../assets/phone.png);
  display: inline-block;
}

#third {
  background-color: #310906;
}

.planning-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.planning-box .text-container-2,
.planning-box .text-container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
  width: 50%;
}

.planning-box .image-container,
.planning-box .image-container-second {
  width: 50%;
}
.planning-box .image-container img,
.planning-box .image-container-second img {
  width: 90%;
}

.planning-box .image-container {
  position: relative;
  bottom: 40px;
}
.planning-box .image-container img {
  -webkit-box-shadow: 15px 15px #FF8327;
          box-shadow: 15px 15px #FF8327;
}

.planning-box .image-container-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.planning-box .image-container-second img {
  position: relative;
  top: 50px;
  -webkit-box-shadow: -15px 15px #FF8327;
          box-shadow: -15px 15px #FF8327;
}

.text-container-2 a,
.text-container-3 a {
  text-align: center;
  width: 30%;
  padding: 0;
  font-size: 1.8rem;
}

.text-container-3 h3 {
  text-align: right;
}

.text-container-3 .read-more {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#fourth {
  background-color: #111010;
  padding: 140px 0 80px 0;
}

.reserve-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-container-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-container-4 h3 {
  text-align: center;
  color: #FF8327;
}

.text-container-4 p {
  text-align: center;
  padding: 20px 110px;
}

.text-container-4 .find-out-more {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  width: 20%;
  font-size: 1.8rem;
}

.beer-back-container {
  height: 60vh;
  width: 100%;
  background-image: url(../../../assets/banner-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#sixth {
  background-color: #111010;
  padding: 60px 0;
}

.events-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.events-container .image-container-2 {
  width: 20%;
}
.events-container .image-container-2 img {
  -webkit-box-shadow: -10px 10px #FF8327;
          box-shadow: -10px 10px #FF8327;
}

.events-container .text-container-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  width: 80%;
}

.events-container .text-container-5 h3 {
  color: #FF8327;
}

.events-container p {
  width: 100%;
}

.text-container-5 .find-out-more-2 {
  text-align: center;
  width: 25%;
  font-size: 1.8rem;
}

#seventh {
  background-color: #220303;
  padding: 60px 0;
}

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-container img {
  padding: 0 20px;
}

.copyright-container {
  text-align: center;
  color: #FFFFFF;
  background-color: rgb(64, 64, 64);
}
.copyright-container p {
  padding: 13px 0;
}

@media (max-width: 810px) {
  .nav-wrap nav ul li :hover {
    color: #FF8327;
  }
  .wrapper .head-flex .side-image {
    position: relative;
    top: -450px;
    left: 40px;
  }
  .wrapper .text-box-1 {
    padding: 10px 0;
  }
  .planning-box .text-container-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .planning-box .text-container-2 h3 {
    padding: 20px 0 0 0;
  }
  .planning-box .image-container {
    position: relative;
    bottom: -30px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .planning-box .image-container-second {
    height: 50%;
    position: relative;
    bottom: -30px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .planning-box .text-container-3 {
    padding: 0 30px 20px 30px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .planning-box .text-container-3 h3 {
    text-align: left;
  }
  .planning-box .text-container-3 .read-more {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .planning-box .text-container-2 p,
.planning-box .text-container-3 p {
    padding: 20px 0;
  }
  #fourth {
    padding: 80px 0;
  }
  .beer-back-container {
    height: 24vh;
    background-repeat: no-repeat;
  }
  .events-container .image-container-2 {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .events-container .text-container-5 p {
    padding: 10px 0;
  }
}
@media (max-width: 390px) {
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile-nav .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-nav .dropdown .drop-nav div {
    height: 7px;
    background-color: #FFFFFF;
    margin: 0 0 5px 5px;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .mobile-nav .dropdown .drop-nav {
    width: 30px;
    display: block;
    margin: 0 0 0 0.5em;
    padding-top: 10px;
  }
  .mobile-nav .dropdown .drop-nav a {
    margin-top: 0;
  }
  .mobile-nav .dropdown .one {
    width: 50px;
    margin-top: 0;
  }
  .mobile-nav .dropdown .two {
    width: 40px;
  }
  .mobile-nav .dropdown .three {
    width: 50px;
  }
  .mobile-nav .dropdown .four {
    width: 40px;
  }
  .mobile-nav .dropdown .drop-nav:hover div {
    width: 30px;
  }
  .mobile-nav .mini-title {
    color: #FFFFFF;
    padding: 0 20px;
    font-size: 2rem;
  }
  .mobile-nav .mini-title h3 {
    margin: 5px 0 20px 0;
    font-family: "Tulpen One";
  }
  .head-flex {
    height: 46vh;
  }
  .head-flex .nav-wrap {
    width: 100%;
    display: none;
  }
  .head-flex .nav-wrap li {
    padding: 0 10px;
  }
  .head-flex .head-wrap h1 {
    font-size: 6rem;
  }
  .head-flex .head-wrap h3 {
    text-align: center;
    width: 100%;
    position: relative;
    right: 0px;
    bottom: 40px;
    font-size: 3rem;
  }
  .head-flex .side-image {
    display: none;
  }
  #second {
    padding: 30px 0;
  }
  #second .wrapper .text-box-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #second .wrapper .text-box-1 .text-container-1 {
    padding: 20px 0;
  }
  #second .wrapper .text-box-1 .text-container-1 h3 {
    text-align: left;
  }
  #third .planning-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #third .planning-box .image-container {
    width: 100%;
    position: relative;
    bottom: 0;
  }
  #third .planning-box .text-container-2 {
    width: 100%;
    padding: 30px 30px;
    text-align: center;
  }
  #third .planning-box .text-container-2 a {
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
  }
  #third .planning-box .text-container-3 {
    width: 100%;
    padding: 30px 30px;
    text-align: center;
  }
  #third .planning-box .text-container-3 h3 {
    text-align: center;
  }
  #third .planning-box .text-container-3 a {
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
  }
  #third .planning-box .image-container-second {
    width: 100%;
    position: relative;
    bottom: 40px;
  }
  #fourth .reserve-container .text-container-4 p {
    padding: 20px 20px;
  }
  #fourth .reserve-container .text-container-4 a {
    width: 100%;
  }
  #fifth {
    height: 14vh;
  }
  #fifth .beer-back-container {
    background-size: contain;
  }
  #sixth .events-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sixth .events-container .image-container-2 {
    width: 80%;
    padding: 20px 0;
  }
  #sixth .events-container .text-container-5 {
    width: 100%;
    text-align: center;
  }
  #sixth .events-container .text-container-5 p {
    width: 100%;
  }
  #sixth .events-container .find-out-more-2 {
    width: 100%;
  }
  #seventh .gallery-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #seventh .gallery-container img {
    padding-bottom: 20px;
  }
  #seventh .gallery-container .drink {
    display: none;
  }
}